<nav class="nav-bar">
  <ul>
    <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <img src="./assets/home.svg" alt="home">
      <a>Accueil</a>
    </li>
    <li routerLink="/create-user" routerLinkActive="active">
      <img src="./assets/create-user.svg" alt="create user">
      <a>Créer user</a>
    </li>
    <li routerLink="/users" routerLinkActive="active">
      <img src="./assets/search-user.svg" alt="search user">
      <a>Voir les users</a>
    </li>
    <li routerLink="/groups" routerLinkActive="active">
      <img src="./assets/groups.svg" alt="groups">
      <a>Groupes</a>
    </li>
    <li routerLink="/plannings" routerLinkActive="active">
      <img src="./assets/calendar.svg" alt="calendar">
      <a>Plannings</a>
    </li>
  </ul>
</nav>
