.nav-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 2px solid #343434;
  background-color: #ffffff;
  @media (min-width: 768px) {
    top: 50px;
    height: 50px;
    margin: 0;
    border-bottom: 2px solid #343434;
    transform: translateY(-10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
  }

  ul {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: auto;
    @media (min-width: 768px) {
      width: 100%;
      justify-content: space-around;
    }

    li {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }

    li a {
      text-transform: uppercase;
      font-size: 10px;
      font-weight: bold;
      color: rgb(46, 105, 203);
    }

    li.active a {
      transition: .1s;
      color: #e8ad18;
    }

    li img {
      width: 30px;
      margin: 5px auto;
    }
  }
}
